h3{
    text-decoration:underline;
font-size: 20px;
/* changes style of all letters */
font-family:'Courier New', Courier, monospace;
}
.head{
    height:200px ;
    background-image: url(pic.jpg);
    /* background-repeat: no-repeat; */
}
.blog{
    margin: 10px;
    border:5px solid rgb(223, 85, 179);
    padding:5px;
    box-shadow:5px 10px 20px blue;
}