nav>ul>li{
    display: inline;
    margin-right: 10px ;
}
/* To remove underline for anchor tab */
nav li>a{
    text-decoration: none;
}
footer{
    text-align: center;
}
h4{
    color: rgb(29, 107, 110);
}
h5{
    color: darkgreen;
    font-weight: bolder;
}